.splash {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* animation: dis 0.5s ease-in forwards 5s; */
  animation: anim 5s ease-in-out forwards;
}

.splash > h1 {
  font-size: 70px;
  font-family: "poppins-bold";
  opacity: 0;
  animation: h1 2s ease-in-out forwards;
}

.splash > h1 > span {
  animation: span 5s ease-in-out;
  color: #303030;
}

.splash img {
  filter: saturate(0);
  position: absolute;
  z-index: -1;
  animation: img 2s ease-in-out forwards;
}

@keyframes anim {
  to {
    display: none;
  }
}

@keyframes img {
  to {
    opacity: 0;
  }
}

@keyframes h1 {
  40% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes span {
  20% {
    color: white;
  }
  80% {
    color: #303030;
  }
  /* 100% {
    color: #5a014ba3;
  } */
}

@media (max-width: 500px) {
  .splash > h1 {
    font-size: 37px;
  }
  .splash img {
    width: 100px;
  }
}

/* #svg {
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: dis 0.5s ease-in forwards 5s;
}

#svg path:nth-child(2) {
  stroke-dasharray: 525;
  stroke-dashoffset: 525;
  animation: anim 3s ease forwards 1.3s;
}
#svg path:nth-child(3) {
  stroke-dasharray: 527;
  stroke-dashoffset: 527;
  animation: anim 3s ease forwards 1.6s;
  animation: rot 0.7s ease-in forwards 3s;
}
#svg path:nth-child(4) {
  stroke-dasharray: 495;
  stroke-dashoffset: 495;
  animation: anim 3s ease forwards 1.9s;
}
#svg path:nth-child(5) {
  stroke-dasharray: 605;
  stroke-dashoffset: 605;
  animation: anim 3s ease forwards 2.3s;
}
#svg path:nth-child(6) {
  stroke-dasharray: 609;
  stroke-dashoffset: 609;
  animation: anim 3s ease forwards 2.5s;
}
#svg path:nth-child(7) {
  stroke-dasharray: 527;
  stroke-dashoffset: 527;
  animation: anim 3s ease forwards 2.8s;
}
#svg path:nth-child(8) {
  stroke-dasharray: 605;
  stroke-dashoffset: 605;
  animation: anim 3s ease forwards 2.9s;
}
#svg path:nth-child(9) {
  stroke-dasharray: 609;
  stroke-dashoffset: 609;
  animation: anim 3s ease forwards 3s;
}
#svg path:nth-child(10) {
  stroke-dasharray: 398;
  stroke-dashoffset: 398;
  animation: anim 3s ease forwards 3.1s;
}

@keyframes anim {
  from {
    display: none;
    stroke: none;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
    outline: none;
  }
  to {
    fill: white;
  }
}

@keyframes rot {
  to {
    transform: rotate(-20deg) translate(-35px) translateY(30px);
    fill: white;
  }
}

@keyframes dis {
  to {
    width: 0;
    height: 0;
    z-index: 2100;
  }
} */
