.bio {
  padding: 30px;
  padding-right: 60px;
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 70px;
  z-index: 100;
}

.b-img > img {
  width: 250px;
  border-radius: 50%;
  justify-content: flex-end;
  z-index: 100;
}

.b-img {
  flex: 0.2;
  padding: 20px;
  z-index: 100;
}

.info {
  flex: 0.8;
  padding: 20px;
  z-index: 100;
  color: white;
}
.info > h1 {
  color: rgb(255, 0, 221);
  letter-spacing: 5px;
}
.info > h1 > span {
  color: rgb(0, 132, 255);
  margin-right: 15px;
}

.det > img {
  width: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  border: 1.5px solid rgb(255, 238, 0);
  background-color: rgb(252, 236, 14);
  box-shadow: 0 0 10px 2px rgb(10, 10, 10);
}
.details,
.det {
  color: rgba(255, 255, 255, 0.384);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 11px;
  justify-content: space-between;
}

.det {
  border: 1.5px solid rgb(255, 238, 0);
  box-shadow: 0 0 10px 2px rgb(255, 238, 0);
  border-radius: 40px;
  padding-right: 5px;
  margin: 5px;
  min-width: 180px;
  backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
}
.det:hover {
  background-color: rgb(252, 236, 14);
  box-shadow: 0 0 15px 7px rgb(255, 238, 0);
}
.det > a > p,
.det > p {
  color: rgba(255, 255, 255, 0.712);
}
.det > a > p:hover,
.det > p:hover {
  color: black;
  font-weight: 600;
}
.det > p {
  margin-right: 90px;
}
