.bio {
  padding: 30px;
  padding-right: 60px;
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 70px;
}

.b-img > img {
  width: 250px;
  border-radius: 50%;
  justify-content: flex-end;
}

.b-img {
  flex: 0.2;
  padding: 20px;
}

.info {
  flex: 0.8;
  padding: 20px;
  color: white;
}

.det > img {
  width: 20px;
  padding: 5px;
}
.details,
.det {
  color: rgba(255, 255, 255, 0.384);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 11px;
  justify-content: space-between;
}

.det > a > p {
  color: rgba(255, 255, 255, 0.384);
}
